*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 3, 97);
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: green;
    /* z-index: -2; */
}

img{
    padding: 5px;
    border-radius: 50%;
    animation: fananim linear infinite;
    z-index: 2;
    height: 200px;
    width: 200px;
    animation-duration: 0 s;
}

@keyframes fananim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#line {
    display: flex;
    justify-content: left;
    text-align: left;
    
    width: 26%;
    height: 5px;
    padding-left: 20px;
    background-color: white;
    margin: 20px 0;
    transform: rotate(90deg) translateX(-3px);
    z-index: 1;
}

#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 20px;
    background-color: azure;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #f1356d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
