*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 3, 97);
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: green;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #f1356d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img{
    padding: 50px;
    border-radius: 50%;
    animation: fananim linear infinite;
}

@keyframes fananim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}